

.body{
    background-color: #21373d;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title{
    font-size: 2em;
    font-weight: bold;
    color: rgb(97, 233, 109);
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.buttonRainbow{
    margin-left: 15px; 
    background: #069cc2; 
    border-radius: 6px; 
    padding: 10px; 
    cursor: pointer; 
    color: #fff; 
    border: none; 
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.buttonAirConditioning{
    margin-left: 15px; 
    background: #069cc2; 
    border-radius: 6px; 
    padding: 10px; 
    cursor: pointer; 
    color: #fff; 
    border: none; 
    font-size: 16px;
    margin-bottom: 2rem;
}

.buttonLight{
    margin-left: 15px; 
    background: #069cc2; 
    border-radius: 6px; 
    padding: 10px; 
    cursor: pointer; 
    color: #fff; 
    border: none; 
    font-size: 16px;
}